@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: oklch(0.205 0 0);
  --secondary-orange: #ec8951;
  --secondary: oklch(0.97 0 0);
  --dark-bg: #0b131c;
  --white: #ffffff;
  --gray: #c7c7c7;
  --dark-gray: #1d2229;
  --light-black: #0b131c;
  --gradient-black-light: #161e27;
  --gradient-black-dark: #0b141d;
  --theme-color: #ed8a51;

  @theme {
    --color-primary: var(--primary);
    --color-secondary-orange: var(--secondary-orange);
    --color-secondary: var(--secondary);
    --color-background: var(--dark-bg);
    --color-lightBg: var(--background);
    --color-white: var(--white);
    --color-darkGray: var(--dark-gray);
    --color-gray: var(--gray);
    --color-lightBlack: var(--light-black);
    --color-gradientBlackLight: var(--gradient-black-light);
    --color-gradientBlackDark: var(--gradient-black-dark);
  }

  /* Styles */
  --toastify-toast-bd-radius: 0px;

  --webkit-scrollbar {
    display: none;
  }

  /* .MuiFormLabel-root {
    @apply text-gray-500 dark:text-white;
  } */
  /* 
  .Mui-focused {
    @apply text-[#fff];
  } */

  .css-1pzfmz2-MuiInputBase-input-MuiOutlinedInput-input {
    @apply dark:text-white text-black;
  }

  .MuiFormControl-root .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    @apply dark:border-gray-700 border-gray-200;
    /* default */
  }

  .MuiFormControl-root
    .MuiOutlinedInput-root:hover
    .MuiOutlinedInput-notchedOutline {
    @apply dark:border-gray-700 border-gray-200;
    /* on hover */
  }

  .MuiFormControl-root
    .MuiOutlinedInput-root.Mui-focused
    .MuiOutlinedInput-notchedOutline {
    @apply dark:border-gray-600 border-gray-300;
    /* on focus */
  }

  .css-28116y-MuiAutocomplete-root
    .MuiOutlinedInput-root
    .MuiAutocomplete-input {
    @apply p-0;
  }

  .css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root {
    @apply top-[-6px];
  }

  /* Material Ui Paper Element */
  .css-1kxdnz3-MuiPaper-root {
    @apply dark:bg-[#1d2229];
    @apply bg-white;
  }

  /* Material ui Table */
  .css-1hoqul-MuiPaper-root {
    /* @apply dark:bg-[#1d2229];
    @apply bg-white */
  }

  /* Material Button */
  .MuiPaper-elevation > .css-74d805-MuiButtonBase-root-MuiButton-root {
    background-color: #ed8a51;
  }

  .MuiPaper-rounded {
    @apply border-0;
  }

  /* placeholder */
  .css-hvjq6j-MuiFormLabel-root-MuiInputLabel-root {
    @apply dark:text-white text-black;
  }

  .css-hvjq6j-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    @apply dark:text-white text-black;
  }

  .css-1kfabtt-MuiFormLabel-root-MuiInputLabel-root {
    @apply dark:text-white text-black;
  }

  .css-1dybbl5-MuiChip-label {
    @apply dark:text-white text-black;
  }

  .css-16yb58i-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon {
    @apply text-red-500;
  }
  /* ********************** react-toastify  START *************************** */

  .Toastify__toast--success {
    @apply bg-[#0d462c] text-white h-[3px];
  }

  .Toastify__toast--error {
    @apply bg-[#bc1929] h-[3px] text-white;
  }

  .Toastify__toast--warning {
    @apply bg-[#856404] h-[3px];
  }

  .Toastify__toast--info {
    @apply bg-[#0c5460] text-white h-[3px];
  }

  /* ********************** react-hot-toast  START *************************** */
  .rdrCalendarWrapper .rdrDateRangePickerWrapper {
    @apply w-full;
  }

  .rdrCalendarWrapper .rdrDateDisplay {
    @apply m-4;
  }

  .rdrCalendarWrapper .rdrDateDisplayWrapper {
    @apply relative;
  }

  .rdrCalendarWrapper .rdrDateDisplayWrapper::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full dark:bg-[#0c161f] border-b border-[#eff2f7];
  }

  .rdrMonthsHorizontal {
    @apply dark:bg-[#0c161f];
  }

  .dark .rdrCalendarWrapper .rdrDateDisplayWrapper::before {
    @apply border-[#404040];
  }

  .rdrCalendarWrapper .rdrDateDisplayWrapper .rdrDateDisplay {
    color: var(--theme-color) !important;
  }

  .rdrCalendarWrapper select {
    @apply rounded-none bg-primary border border-[#eee] text-left text-[14px] font-medium;
  }

  .rdrCalendarWrapper .rdrSelected,
  .rdrCalendarWrapper .rdrInRange,
  .rdrCalendarWrapper .rdrStartEdge,
  .rdrCalendarWrapper .rdrEndEdge {
    color: var(--theme-color) !important;
  }

  .rdrCalendarWrapper .rdrStartEdge,
  .rdrCalendarWrapper .rdrEndEdge {
    @apply rounded-none;
  }

  .rdrCalendarWrapper .rdrInRange {
    background: #ed8a519a;
  }

  .dark .rdrCalendarWrapper .rdrInRange {
    @apply bg-[#1c2128];
  }

  .rdrCalendarWrapper .rdrDayStartOfMonth .rdrInRange {
    background: var(--theme-color);
  }

  .rdrCalendarWrapper .rdrNextPrevButton {
    @apply bg-[#f9f9f6];
  }

  .rdrCalendarWrapper .rdrDay > span:first-child {
    color: var(--theme-color) !important;
  }

  .rdrCalendarWrapper .rdrDayToday .rdrDayNumber span::after {
    background-color: var(--theme-color);
  }

  /* END */

  /* *****************Table START******************** */
  .css-1hoqul-MuiPaper-root {
    border-radius: 0 !important;
  }

  /* Mui Table Header */
  .shadow .MuiPaper-elevation > .MuiBox-root {
    @apply dark:bg-[#242930];
  }

  /* Table label */
  .MuiTable-root .MuiTableHead-root .css-1mpnnre-MuiTableRow-root {
    @apply dark:bg-[#1d2229];
  }

  /* Mui box root */
  .MuiTableHead-root .MuiTableCell-head > .MuiBox-root {
    @apply dark:text-[#ecf0f1] text-black;
  }

  /* Mui table label bg */
  .MuiTableHead-root
    .css-1a3u37w-MuiButtonBase-root-MuiIconButton-root
    .MuiSvgIcon-root {
    @apply dark:text-[#ecf0f1] text-black;
  }

  /* Table Row */
  /* ISSUE ase */
  /* @apply dark:bg-[#242930] kaj kore na*/
  /* .MuiTable-root .MuiTableBody-root .css-k33iqf-MuiTableRow-root {
     @apply dark:bg-[#242930] bg-[#ffffff];
  } */
  .css-k33iqf-MuiTableRow-root {
    @apply dark:bg-[#242930]! bg-[#ffffff]!;
  }

  /* Mui table cell body */
  .MuiTableBody-root .MuiTableCell-body {
    @apply dark:text-[#ffffff] text-black;
  }

  /* *****************Table End******************** */

  /* *****************Scroll Bars******************** */

  * {
    scrollbar-width: none;
    /* Hide both vertical and horizontal scrollbars */
  }

  /* Hide horizontal scrollbar in Firefox */
  html {
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
  }

  .dark {
    --dark-background: #0b131c;
  }

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0)
}

.css-cmpglg-MuiFormControl-root-MuiTextField-root {
  min-width: 270px !important;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
